html, body, #root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black; /* Set nền full đen */
}
li {
    list-style: none !important;
}
 ul {
    list-style-type: none !important; /* Bỏ dấu chấm cho toàn bộ danh sách */
    padding: 0; /* Tùy chọn: bỏ khoảng đệm mặc định của ul */
    margin: 0;  /* Tùy chọn: bỏ lề mặc định của ul */
  }