.music-player-container {
    display: flex;
    align-items: center;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 240px;
    background-color: #170F23;
    height: 80px;
    color: aliceblue;
}
.song-profile {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex: 1;
}
.song-profile > img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.song-profile-details {
    color: white;
    margin-left: 10px;
    font-family: sans-serif;
}
.song-author {
    font-size: 10px;
    opacity: 0.5;
}
.main-tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 4;
}
.play-btn, .option-btn  {
   border: none;
}
.play-music-tool{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.range-change-time-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.range-change-time-container > input {
    width: 500px;
}
.music-play-option {
    flex: 1;
    display: flex;
}

.changeTime {
    -webkit-appearance: none;
    height: 6px;
    background: #434343; /* Màu xám mặc định */
    border-radius: 3px;
    outline: none;
    position: relative;
    overflow: hidden;
  }
  
  /* Track phần đã kéo (Webkit - Chrome, Edge, Safari) */
  .changeTime::-webkit-slider-runnable-track {
    height: 6px;
    background: #807f7f;
    border-radius: 3px;
  }
  
  .changeTime::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-top: -4px; /* Canh giữa track */
    box-shadow: -1000px 0 0 1000px white; /* tạo hiệu ứng trắng ở phần bên trái */
  }
  
  /* Firefox */
  .changeTime::-moz-range-track {
    height: 6px;
    background: #888;
    border-radius: 3px;
  }
  
  .changeTime::-moz-range-thumb {
    height: 14px;
    width: 14px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -1000px 0 0 1000px white;
  }
  