.playlist-container {
    padding-top: 10px;
}
.img-playlist {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    padding: 5px;
}
.main-dt {
    width: 100%;
}
.list-songs-container {
    width: 100% !important;
    padding: 0;
}
.lists-group-item {
    background-color: #1c122b;
    border: none !important;
    overflow: hidden;
    color: #fffbfb;
    border-radius: 25px !important;
    margin-bottom: 10px;
    padding: 1px;
    cursor: pointer;
    transition: background-color 0.3s ;

}
.lists-group-item:hover {
  background-color: #7330E8;
}
.btn-play{
    width: auto;
    padding-left: 5px !important;
    padding-right: 5px !important;
    border: none;
    background-color: #7330E8;
    font-size: 15px;
    font-weight: bold;
}

.song-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
        width: auto !important;
  }
  
  .song-image {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  
  .song-infos {
    display: flex;
    flex-direction: column;
  }
  
  .song-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
  }
  
  .song-artist {
    color: #a39fae;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  .star-icon {
    color: #a39fae;
    margin-left: 5px;
    font-size: 13px;
  }
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* mờ nền */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #2c203f;
  padding: 20px 30px;
  border-radius: 12px;
  color: white;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 15px #000;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-content h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.modal-song-item {
  padding: 10px;
  border-radius: 8px;
  background: #3c2c5c;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.modal-song-item:hover {
  background: #5b3f85;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
