.form-control{
    width: 280px !important;
}
.wrap{
    margin-bottom: -22px;
}
.input-container {
    height: 320px;
}
.link-to-login{
    text-decoration: none;
    color: white ;
}
.login-link {
   padding: 10px;
}
