.thuvien-container {
    margin-top: -20px !important;
    padding: 0;
}
.thuvien-btn > i {
    margin-left: 2px;
}
.singer-album-title > h2 {
    margin: 0;
}
.singer-album-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.plus-icon {
    border: 1px solid white;
    padding: 2px;
    border-radius: 50%;
    background-color: #281f34;
    cursor: pointer;
    opacity: 0.9;
}
.album-item {
    overflow: hidden;
}
.album-item > img {
    width: 240px !important;
    height: 240px !important;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px !important;
}
.album-author {
    color: white;
    opacity: 0.5;
}
.album-author, .album-style {
    margin-left: 5px;
}
.playlist-container {
    margin-bottom: 100px;
}
.list-delete-playlist {
    background-color: rgb(47, 15, 77);
    padding: 10px;
    border-radius: 15px;
    margin-left: 20px;
}
.delete-title {
    font-size: 20px;
}
.delete-playlist-item {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}
.delete-playlist-item:hover {
    background-color: rgba(174, 10, 233, 0.666);
}
.no-playlist-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(121, 48, 188);
    padding: 10px 0px 10px 0px;
}
